html, body{
    height: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d1cfe2 ;

}
.cube{
    position: relative;
    width: 300px;
    height: 3z00px;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    animation: rotate 10s linear infinite;
}
img{
    width: 100%;
}
@keyframes rotate{
    from{
        transform: translateZ(-100px);
    }
    to{
        transform: translateZ(-100px) rotateY(359deg) rotateX(359deg);
    }
}
.cube .face{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(246, 245, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #f70000;
    text-align: center;
    user-select: none;
    overflow: hidden;
}
.cube .face.front{
    background: rgb(255, 255, 255);
    transform: rotateY(0deg) translateZ(100px);
}
.cube .face.right{
    background:rgb(255, 255, 255);
    transform: rotateY(90deg) translateZ(100px);
}
.cube .face.back{
    background:rgb(253, 253, 255);
    transform: rotateY(180deg) translateZ(100px);
}
.cube .face.left{
    background: rgb(255, 255, 255);
    transform: rotateY(-90deg) translateZ(100px);
}
.cube .face.top{
    background: rgb(255, 255, 255);
    transform: rotateX(90deg) translateZ(100px);
}
.cube .face.bottom{
    background: rgb(255, 255, 255);
    transform: rotateX(-90deg) translateZ(100px);
}